@media (min-width: 1024px) {
    html {
        scrollbar-gutter: stable;
    }

    body {
        padding-top: 60px;
        overflow-y: auto;
    }

    body.no-scroll {
        overflow-y: auto !important;
    }

    main {
        padding: 20px;
        overflow: visible;
    }

    .main-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        align-items: start;
        position: relative;
    }

    #player-view {
        display: flex;
        flex-direction: column;
        position: sticky;
        transform: none;
        background: var(--background-color);
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        padding: 0;
        height: calc(100vh - 100px);
        z-index: 1;
    }
    
    .player-header {
        display: none;
    }

    .video-player-container {
        max-width: none;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    
    #video-player {
        width: 100%; 
        height: 100%; 
        background: transparent;
    }
    
    .player-info {
        max-width: none;
        width: 100%;
        box-sizing: border-box;
        margin-top: auto; 
        margin-bottom: 0;
        padding: 20px;
        background: linear-gradient(to top, var(--background-color) 20%, transparent);
        z-index: 3;
    }

    .live-indicator {
        align-items: center;
        color: var(--theme-color);
        display: flex;
        font-size: 0.9rem;
        font-weight: 600;
        gap: 3.5px;
        margin-right: 20px;
    }
    
    .content-container {
        height: auto;
        overflow: visible !important;
        z-index: 10;
    }

    .content-container::-webkit-scrollbar {
        display: none;
    }

    #minimized-player {
        display: none !important;
    }

    .content-container .featured-slider,
    .content-container .category-nav,
    .content-container .channel-listings,
    .content-container .skeleton-loader-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    .content-container .featured-slider {
        margin-top: 0;
        margin-bottom: 30px;
        position: relative;
        z-index: 15;
    }

    .content-container .channel-listings,
    .content-container .section-header, {
        z-index: 16;
    }
    
    .slider {
        overflow: visible;
        box-shadow: -40px 0 100px -20px rgba(0,0,0,0.8); 
    }

    .slide::before {
        top: -40px;
        bottom: -40px;
        left: -40px;
        right: -30px;
        filter: blur(50px) saturate(1.5) brightness(0.8);
    }

    .content-container .category-nav {
        padding-top: 20px;
        padding-bottom: 0;
    }
}
